<% for(i=0; i < listaDias.length; i++){ %>
    <%= listaDias[i] %>
    <% for(a=0; a < listaStatus.length; a++){ %>
        <% horarios = Object.keys(listaFiltrada[listaDias[i]]) %>
        <% setores = ['Br/Pr até 12', 'Ouro até 12', 'Bronze', 'Prata', 'Ouro'] %>
        <%= listaStatus[a] %>
        <table>
            <tr>
                <th></th>
                <th>Infantil</th>
                <th>Infantil Ouro</th>
                <th>Bronze</th>
                <th>Prata</th>
                <th>Ouro</th>
            </tr>
            <% for(b=0; b < horarios.length; b++){ %>
                <tr>
                    <th><%= horarios[b] %></th>
                    <% for(c=0; c< setores.length; c++){ %>
                        <th>
                            <% if(typeof(listaFiltrada[listaDias[i]][horarios[b]][setores[c]]) == "undefined"){ %>
                                <%= 0 %>
                            <% } else { %>
                                <%= listaFiltrada[listaDias[i]][horarios[b]][setores[c]][listaStatus[a]] %>
                            <% } %>
                            <%=  %>
                        </th>
                    <% } %>
                </tr>
            <% } %>
        </table>
        <p></p>
    <% } %>
<% } %>


